spring:
  application:
    name: Qerb
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: redis
      port: 6379
  mail:
    host: smtp.gmail.com
    port: 587
    username: basaranmelik1@gmail.com
    password: "oafo zqlq unwl vtcn"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
jwt:
  key: "${JWT_SECRET:MIICWwIBAAKBgQCc7HRMb1BJAbS7OunUDqGko7q2UHHrnO3YrljxbQOtChnOJF7N}"

